.ToDoItem {
    font-size: 18px;
    padding: 10px;
    width: auto;
    margin: 10px 0 0 0;
    background: white;
    font-weight: 500;
    border-radius: 6px;
    text-align: left;
    position: relative;
    cursor: move;
}
.ToDoItem.Grey {
    color: grey;
    border: 2px solid grey;
}
.ToDoItem.Orange {
    color: orange;
    border: 2px solid orange;
}
.ToDoItem.Green {
    color: green;
    border: 2px solid green;
}
.itemButtons {
    float: right;
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.ToDoItem:hover .itemButtons {
    visibility: visible;
}